---
import '~/assets/styles/logoCarrousel.css';
import { Image } from 'astro:assets';
import {type ImageMetadata } from 'astro';

// import fs from 'node:fs/promises';
// import path from 'node:path';

// import { CARROUSEL_LOGOS_DIR } from '~/utils/config';

// const lsLogosDir = await fs.readdir(CARROUSEL_LOGOS_DIR);
// const filesPromises = lsLogosDir.map(entrada=>{
//     const rutaCompleta = path.join(CARROUSEL_LOGOS_DIR,entrada);
//     const isFilePromise = fs.stat(rutaCompleta).then((stat)=>stat.isFile()?rutaCompleta:false);
//     return isFilePromise;
// })

// const files = await Promise.all(filesPromises)

// const logosSrcs = files.filter(entrada=>entrada !== false) as string[];

// console.log(logosSrcs)

const images = import.meta.glob<{default: ImageMetadata}>('/src/assets/images/logos/*.{jpeg,jpg,png,gif,svg}');
console.log(images)
---

<div class="logos dark:bg-white" >
    <div class="logos-slide ">
        {Object.values(images).map((image)=><Image height={70} src={image()} alt="brand-logo"/>)}
        {Object.values(images).map((image)=><Image height={70} src={image()} alt="brand-logo"/>)}
    </div>  
</div>
