---
import { Icon } from 'astro-icon/components';
---

<section class="bg-[--aw-color-accent] dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:trophy" class="w-5 h-5 inline-block align-text-bottom" />
      Con más de 30 años de experiencia en el rubro, adquirimos los mejores productos a precios insuperables.
  </div>
</section>
