---
import { SITE } from '~/utils/config';
---

<span class="self-center flex items-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img class="w-14 mr-2" src="./src/assets/icon.svg" alt="">
  {SITE?.name}
</span>
